<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
    <add key="UsrImpresionJsonPath" value="C:\temp\usrimpresion.json" />
    <add key="DatabaseServeraix" value="192.168.10.203" />
    <add key="PrinterLabel" value="SP313" />
    <add key="marco" value="C:\Users\carlos.mandujano\source\repos\TicketCambio\TicketCambio\images\marco.jpg" />
    <add key="titulo" value="C:\Program Files (x86)\TicketCambio\images\tit_01.jpg" />
    <add key="newImage" value="C:\Program Files (x86)\TicketCambio\images\tit01.jpg" />
    <add key="DatabaseServerProd" value="Data source=192.168.10.203;initial catalog=ModellaAxProduccion;user id=etl;password=etl2022;" />
    <add key="DatabaseServerProdCD" value="Data source=clpudqa;initial catalog=CDMBOV2;user id=sa;password=modella2022;" /> <add key="DatabaseServerUser" value="Data source=clpudqa;initial catalog=modellaventas;user id=etl;password=etl2022;" />
  </appSettings>
</configuration>